usbinfo:
  usb0: "host=5-1.1"
  usb1: "host=5-1.2"
  usb2: "host=5-1.3"
  usb3: "host=5-1.4"

pcieinfo:
  hostpci0: "host=0000:07:00,pcie=1"

networkinfo:
  net0: "virtio=62:03:E8:5C:92:35,bridge=vmbr0,firewall=0,tag=10"
  net1: "virtio=62:03:E8:5C:92:36,bridge=vmbr0,firewall=0,tag=70"
  net2: "virtio=62:03:E8:5C:92:37,bridge=vmbr0,firewall=0,tag=400"
  net3: "virtio=62:03:E8:5C:92:38,bridge=vmbr0,firewall=0"

audioinfo:
  - type: duplex
    input: alsa_input.usb-Focusrite_Scarlett_Solo_USB_Y7K6EZV2B73C1D-00.analog-stereo

cpuinfo: 32
memoryinfo: 15000

vmargs: "{{ audioinfo | audio_vm_arg_gen }}"
