vfio_pci_ids:
  - 10de:2489
  - 10de:228b
  - 10de:2187
  - 10de:1aeb
  - 10de:1aec
  - 10de:1aed

linux_cmdline_args:
  - quiet
  - amd_iommu=on
  - iommu=pt
  - vfio_pci.disable_vga=1
  - initcall_blacklist=sysfb_init
  - pcie_acs_override=downstream,multifunction

ansible_connection: local

setup_jankvisor_audio_server_user: vmaudio

setup_uwusers_definitions:
  - username: vmaudio
    sudo: true
    password: "{{ lookup('bws_cache', 'ripple_user_hashed_password').value }}"
    ssh_keys: ["{{ lookup('bws_cache', 'ripple_sshkey_pub').value }}"]
    shell: /bin/bash
    linger: true

setup_private_ssh_keys_data:
  - username: root
    directory: "/root/.ssh"
    private_keys:
      - content: "{{ lookup('bws_cache', 'jankvisor_sshkey_private').value }}"
        key_type: "ed25519"
    public_keys:
      - content: "{{ lookup('bws_cache', 'jankvisor_sshkey_public').value }}"
        key_type: "ed25519"
