{% set tot_customisations=wanix_include_customisations + wanix_default_customisations + wanix_extra_customisations %}
data:
{% for package, included in wanix_customisations | cd_package_extractor(tot_customisations, ansible_facts['os_family']) %}
    has_package_{{ package }}: {{ included }}
{% endfor -%}
{% for package, included in wanix_customisations | cd_app_name_extractor(tot_customisations) %}
    has_application_{{ package }}: {{ included }}
{% endfor -%}
{% for customisation in wanix_customisations %}
    has_customisation_{{ customisation["name"] }}: {{ customisation["name"] in tot_customisations }}
{% endfor %}
