# Since Ansible 2.12 (core):
# To generate an example config file (a "disabled" one with all default settings, commented out):
#               $ ansible-config init --disabled > ansible.cfg
#
# Also you can now have a more complete file by including existing plugins:
# ansible-config init --disabled -t all > ansible.cfg

# For previous versions of Ansible you can check for examples in the 'stable' branches of each version
# Note that this file was always incomplete  and lagging changes to configuration settings

# for example, for 2.9: https://github.com/ansible/ansible/blob/stable-2.9/examples/ansible.cfg
[defaults]
vars_plugins_enabled = host_group_vars,community.sops.sops

inventory = ./environment/prod/
roles_path = ./roles

#the cows
cowsay_enabled_stencils= ["bong"] # changed to superior bong
# cowsay_enabled_stencils= ['bud-frogs', 'bunny', 'default', 'elephant-in-snake', 'hellokitty', 'kitty', 'luke-koala', 'moose', 'sheep', 'small', 'supermilker', 'three-eyes', 'tux', 'udder', 'vader-koala', 'vader', 'www', "bong"]

cow_selection=random
nocows=1

[diff]
always = true

[inventory]
enable_plugins = yaml,ini,vmware_vm_inventory

[local]
defaults.force_color = True